*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
main{
    background-image: url(assets/img/bg.jpg);
    height: 70vh;
}
.box{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
}
.navbar{
    max-width: 60vw;
    height: 8vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navdown{
    height: 62vh;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.navbar img{
    width: 140px;
}
.btn{
    padding: 8px 10px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn-getstarted{
    padding: 8.5px 13px 10px 13px;
    width: auto;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgba(255, 255, 255,1);
}
.btn-english{
    background-color: rgba(235, 235, 235, 0.2);
}
.subscribe >:first-child{
    padding: 11.5px 14px 10.5px 14px;
    width: 230px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.navdown h1{
    display: block;
    font-size: 2rem;
    font-weight: 700;
}
.navdown h5,h4{
    color: rgba(255,255,255,0.9);
}
.navdown h4{
    font-size: 1rem;
    font-weight: 400;
}
.navdown h5{
    font-size: 1rem;
    font-weight: 400;
}
.separation-line{
    height: 6px;
    background-color: rgb(46, 44, 44);
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 10px auto;
    color: white;
}
.first-section .flex-body-video img{
    width: 360px;
    position: relative;
    z-index: 100;
}
.first-section .flex-body-video{
    position: relative;
}
.first-section .flex-body-video video{
    width: 260.8px;
    position: absolute;
    top: 57px;
    left: 48px;
}

.flex-body-text h2{
    padding: 10px;
    font-size: 44px;
}
.flex-body-text h5{
    font-size: 18px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}
.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}
.questions .questions-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: white;
    margin: 4px auto;
    padding: 15px;
    width: 60vw;
    max-width: 60vw;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.questions>h1{
    margin-top: 20px;
    padding: 12px;
}
.questions .questions-child :nth-child(2){
    cursor: pointer;
}
.questions .questions-child:hover{
    background-color: #414141;
}



/* footer */

footer .footer-number{
    color: white;
    margin: auto;
    width: 80vw;
    padding: 10px;
    margin-top: 35px;
}
.footer-number a{
    color: white;
}
.footer-grid{
    margin: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-grid .footer-grid-columns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white; 
    gap: 10px; 
    margin-top: 10px;
    margin-bottom: 10px; 
}
.footer-grid .footer-grid-columns a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.footer-india{
    margin: auto;
    width: 80vw;
    padding: 0px;
    color: white;
    margin-bottom: 40px;
}
.footer-btn{
    margin: auto;
    width: 80vw;
}
.footer-btn button{
    padding: 5px 10px;
    color: white;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}



@media screen and (max-width: 580px) {
    .navbar{
        max-width: 95vw;
        height: 8vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navdown h1{
        font-size: 20px;
        text-align: center;
    }
    .navdown h4{
        font-size: 14px;
    }
    .navdown h5{
        font-size: 12px;
        padding: 10px;
        text-align: center;
    }
    .subscribe >:first-child{
        max-width: 155px;
    }
    .footer-grid{
        margin: auto;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .questions>h1{
        font-size: 26px;
        text-align: center;
    }
    .questions .questions-child h2{
        font-size: 18px;
    }
    .flex-body-text>h2{
        font-size: 26px;
    }

}
@media screen and (max-width: 790px) {
    .navdown h1{
        text-align: center;
    }
    .first-section{
        flex-direction: column;
    }
    .flex-body-text h2{
        padding: 10px;
        font-size: 31px;
        text-align: center;
    }
    .flex-body-text h5{
        font-size: 14px;
        padding: 0;
        color: rgba(255, 255, 255, 0.758);
        text-align: center;
    }
}
@media screen and (max-width: 328px) {
    .subscribe{
        display: flex;
        flex-direction: column;
    }
    .questions>h1{
        font-size: 24px;
        text-align: center;
    }
    .questions .questions-child h2{
        font-size: 16px;
    }
    .flex-body-text>h2{
        font-size: 24px;
    }
}